body {
    margin: 0;
    min-height: 100vh;
}



.corpo {
    padding-top: 10px;
    margin:  auto  ;
    width: 1080px;
    height: 500px;

}

.titulo {
    padding-bottom: 35px;
}

.efeitotitulo {
    color: rgb(175, 245, 245);
    padding: 5px;
}


.conteudo {
    display: flex;
    align-content: end;
    justify-content: center;
    gap: 200px;
}

.corpo .conteudo .texto {
    padding-top: 30px;
}

.corpo .conteudo h2 {
    font-size: 38px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

.corpo button {
    display: flex;
    background-color: rgb(174, 231, 212);
    border: none;
    border-radius: 25px;
    align-items: center;
    margin-top: 45px;
    width: 148px;
    height: 45px;
    gap: 10px;
    padding-left: 15px; 
    text-transform: uppercase; 
    cursor: pointer;
}

.corpo button:hover {
    background-color: rgb(164, 236, 212);
    border: 1px solid black;
}

.paragrafo {
    margin-bottom: 65px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
} 

.footer {
    text-align: center;
    margin-top: 125px;
} 

.rodapezinho {
    position: fixed;
    bottom: 0;
    right: 0;
} 

.strong {
    cursor: pointer;
}